.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #fff7f0, #ffffff);
  padding: 15px;
}

.auth-card {
  width: 100%;
  max-width: 420px; /* 👈 FIX: prevents large cards */
  border-radius: 15px;
  border: none;
}

.auth-card h2,
.auth-card h3 {
  font-weight: 600;
}

.auth-btn {
  background: rgb(252, 107, 3);
  color: #fff;
  border: none;
  transition: 0.3s;
}

.auth-btn:hover {
  background: rgb(220, 90, 0);
}


/*  admin orders */

.card {
  border-radius: 14px;
}

.card:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

img {
  object-fit: cover;
}

.badge {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .auth-card {
    padding: 20px !important;
  }
}